[virtualenvs]
in-project = true

[tool.poetry]
name = "install-release"
version = "0.1.4"
readme = "README.md"
description = ""
authors = ["Rishang <rishangbhavsarcs@gmail.com>"]
packages = [
    { include = "InstallRelease" }
]

[tool.poetry.dependencies]
python = "^3.8"
rich = "*"
requests = "*"
python-magic = "^0.4.27"
typer = "^0.4.1"

[tool.poetry.scripts]
install-release = "InstallRelease.cli:app"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
mypy = "*"
black = "*"
types-requests = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
